<div id="customerCard" class="content_box">
    <div class="content_box_element">

        <div class="d-flex justify-content-center align-items-center m-2">

            <div class="avatar">
                <img src="{{ asset('assets/img/default/avatar_installer.png') }}" alt="Avatar">
            </div>

            <div class="p-4">
                <h5>{{ user.fullname }}</h5>
                <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                {{ displayRole(user) }}
            </div>
        </div>

        <div class="infos">
            <div class="infos_box d-flex justify-content-between">
                <span class="svg-primary">{{ 'phone'|svg }}</span><span>{{ user.phone }}</span>
            </div>
            <div class="infos_box d-flex justify-content-between">
                <span class="svg-primary">{{ 'mobile'|svg }}</span><span>{{ user.mobile }}</span>
            </div>

            <hr>




                <div class="d-flex flex-wrap">
                    <a class="btn btn-elan m-1" href="">
                        {{ 'file-signature'|svg }}Vérification
                    </a>
                    <a class="btn btn-elan m-1" href={{ path('user_messages_talk_to', {user: user.id}) }}"">
                        {{ 'message'|svg }}Messages
                    </a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-elan m-1" href="{{ path('admin_edit_user', {id: user.id}) }}">
                            {{ 'user-gear'|svg }}Editer
                        </a>
                    {% endif %}
                </div>


        </div>






    </div>
</div>